<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GoogleAppEngine-default</string>
	<key>CFBundleExecutable</key>
	<string>GoogleAppEngine-default</string>
	<key>CFBundleGetInfoString</key>
	<string>GoogleAppEngineLauncher 1.6.0.1310, © 2005-2011 Google Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Matchbook.GoogleAppEngine-default</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GoogleAppEngine-default</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.0</string>
	<key>CFBundleSignature</key>
	<string>DS10</string>
	<key>CFBundleVersion</key>
	<string>1.6.0.1310</string>
	<key>NSHumanReadableCopyright</key>
	<string>GoogleAppEngineLauncher 1.6.0.1310, © 2005-2011 Google Inc.</string>
</dict>
</plist>
